@charset "utf-8";

html{height:100%; font-family:'Noto Sans KR', sans-serif; font-size:14px; letter-spacing:-.5px}
body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre{margin:0; padding:0; list-style:none}
body, input, textarea, select, button{color:#666; font-family:'Noto Sans KR', sans-serif; font-size:14px; line-height:22px; letter-spacing:-.5px}
iframe{border:0}
figure{margin:0}

fieldset, img{border:0 none}

input, textarea, select{font-size:1em; font-family:'Noto Sans KR', sans-serif; vertical-align:middle}
legend, caption{font-size:0; height:0; line-height:0; visibility:hidden; width:0}
hr{clear:both; font-size:0; height:0; line-height:0; border:0}
fieldset{border:0 none}
form, fieldset, legend, textarea, input, select, textarea, button{margin:0; padding:0}
input, select, textarea, button{vertical-align:middle; font-size:12px; color:#555}
img, a img, input.image{border:0 none; margin:0; padding:0}

.imgFix{display:inline-block; line-height:0}

a:link{/* color:#000; */text-decoration:none;}
a:active{color:#000; text-decoration:none}
a:visited{/* color:#000; */text-decoration:none;}
a:hover{/* color:#F30; */text-decoration:none;}

.hidden{position:absolute !important; visibility:hidden !important; font-size:0 !important; line-height:0 !important; height:0 !important; overflow:hidden !important}
.float_L{float:left !important}
.float_R{float:right !important;}
.clearFix{clear:both; overflow:hidden}

.table_c1{margin:0 0 20px 0}
.table_c1 table{width:100%; margin-top:10px; border-top:2px #6b6b6b solid; border-right:1px #d8d6d6 solid; border-left:1px #d8d6d6 solid; border-bottom:1px #d8d6d6 solid; border-collapse:collapse}
.table_c1 table th{ background-color:#f4f3f3; border-left:1px #6b6b6b dotted; border-top:1px #d5d4d4 dotted; padding-top:5px; padding-bottom:5px; padding-left:3px; padding-right:3px; line-height:140%; text-align:center}
.table_c1 table td{border-left:1px #d8d6d6 solid; border-top:1px #d8d6d6 solid; padding:5px 2px 5px 2px; line-height:160%; text-align:center; word-break:break-all}
.table_c1 table td a{color:#555c63}
.table_c1 table td a:hover{text-decoration:underline}
.table_c1 .td_left{text-align:left; padding:5px 10px 5px 10px}
.table_c1 .td_right{text-align:left; padding:5px 10px 5px 10px}
.table_c1 table tfoot th, div.table_c1 table tfoot td{background-color:#f4f3f3; font-weight:bold; border-left:1px #6b6b6b dotted; border-top:1px #d5d4d4 dotted; padding-top:5px; padding-bottom:5px; padding-left:3px; padding-right:3px; line-height:140%; text-align:center}

.ol_decimal > li {
    list-style: decimal;
    margin-left: 16px;
}