@charset "utf-8";

/* 전체 */
#wrapper{min-width:auto}
.wrap_cen{width:1000px;}

/* 메인섹션 */
#main{background-position:calc(100% - 50px) 40px, center; background-size:100px, cover}
#main .el01{top:107px; left:calc(100% - 145px)}

/* 메인섹션 - 메뉴 */
#main .gnb_menu li{margin:0 2.3%; width:12%;}
#main .gnb_menu li a{padding:74px 0 20px 0; background-size:40%}

/* 프로젝트 섹션 */
#project{background-image:url("../images/main/bgProject_left.png"), url("../images/main/bgProject_top.png"), url("../images/main/bgProject_btm.png"), url("../images/main/bgProject_right.png"); background-position:-65px -87px, calc(100% + 66px) -100px, -72px calc(100% + 96px), calc(100% + 108px) calc(100% + 72px)}
#project .slideshow{position:relative; margin-top:40px}
.slide_box{height:auto}
.slide_wrap{background-image:none}
.slides{margin:0 50px; height: 100%}
.slides li{width:49.5%}
.slides li:nth-child(odd){margin-right:1%}
.slides li img{width:100%; max-width:472px}
.drection_btn{width:100%;}
.drection_btn .prev{left:0}
.drection_btn .next{right:0}

/* 포트폴리오 섹션 */
#portfolio .el02{left:calc(50% + 469px)}

.pf_thumb .txt_box {padding:20px 15px}
.pf_thumb h4 {font-size: 16px;}
.pf_thumb ul {margin-top:10px}
.pf_thumb .pf_th_li_t,
.pf_thumb .pf_th_li_c {font-size:12px}

.grid-sizer, .pf_item{width: calc((100% - 1%*3)/4);}

.pf_layer{top: 0;left: 0;margin: 5% 10px;width: calc(100% - 10px*2);background-color: #f1f1f1;transform: translate(0,0);overflow: hidden;z-index:1;}

.pf_txt_basic {position:relative;float:none;width:100%;padding:35px 30px}
.pf_txt_basic:after {display:block;content:'';clear:both}

.txt_basic_main:after {display:block;content:'';clear:both}
.basic_main_type {margin-top: 15px}

.pf_txt_detail {float:none;width:100%;padding:35px 30px;box-sizing: border-box;}

.pf_img {float:none;width:100%;height: auto;text-align:center;}
.pf_img img {width: 80vw;max-width: 1004px;}