@charset "utf-8";

/* ie9이하 *********/
/* 히스토리 섹션 */
.ie9 .foot_print_top .el01,
.ie9 .foot_print_top .el02,
.ie9 .foot_print_top .el03,
.ie9 .foot_print_top .el04,
.ie9 .foot_print_top .el05,
.ie9 .foot_print_btm .el01,
.ie9 .foot_print_btm .el02,
.ie9 .foot_print_btm .el03,
.ie9 .foot_print_btm .el04,
.ie9 .foot_print_btm .el05,
.ie9 #history .el06,
.ie9 .ht_box li .ht_ico{opacity:1}

.ie9 .ht_box li .ht_ico:after{display:none}

/* ie8이하 *********/
/* 메인 섹션 */
.ie8 #main{background-repeat:no-repeat; background-image:url("../images/main/bgMain_back.jpg"); background-position:center; background-size:cover; background-attachment:fixed}

/* 메인섹션 - 메뉴 */
.ie8 #main .gnb_menu li a{border:0}
.ie8 #main .gnb_menu li:hover a,
.ie8 #main .gnb_menu li.on a{border-bottom:3px solid #6a2960}
.ie8 #main .gnb_menu li:before{display:none}

/* 포트폴리오 섹션 */
.ie8 #portfolio{background-image:url("../images/main/bgPortfolio_btm.png"); background-position:right bottom; background-repeat:no-repeat; background-attachment:fixed}
.ie8 #portfolio .el01{left:35%}
.ie8 #portfolio .el02{left:85%}

.ie8 .filter-form{width:827px;}
.ie8 .pf_hover{background:rgb(255,195,5)}
.ie8 .pf_detail{background:#fff}

.active#portfolio #load-more{padding:10px 10px 20px 10px}
#load-more:hover{background:#fff}

/* 히스토리 섹션 */
.ie8 #history{background-image:url("../images/main/bgHistory_back.png"); background-position:-300px; background-repeat:repeat}
.ie8 .foot_print_top{left:50%; margin-left:150px}
.ie8 .foot_print_btm{left:50%; margin-left:-350px}
.ie8 #history .el06{left:50%; margin-left:-430px}

.ie8 .ht_box >ul >li:nth-child(odd){right:50%; margin-right:-1px}
.ie8 .ht_box li:nth-child(odd) .ht_ico{right:-84px}

/* 스킬 섹션 */
.ie8 #skill{background:#ff229f url("../images/main/bgSkill_back.png") center no-repeat}
.ie8 #skill .progress{background-color:rgb(255, 204, 0)}
.ie8 #skill .progress.double{background-position:center 6px;}
.ie8 #skill .photoshop .progress{background-image:url("../images/main/icoSkill_ps.png")}
.ie8 #skill .HTML5 .progress{background-image:url("../images/main/icoSkill_html.png")}
.ie8 #skill .accessibility .progress{background-image:url("../images/main/icoSkill_wa.png")}

/* 컨택 섹션 */ 
.ie8 #contact{background-color:#000; background-image:url("../images/main/bgContact_cen.png"); background-position:center; background-attachment:scroll; background-repeat: no-repeat; background-size:auto;}

.ie8 #contact .el01{top:50%; margin-top:-489px; left:50%; margin-left:-627px}
.ie8 #contact .el02{top:50%; margin-top:-12px; left:50%; margin-left:466px}
.ie8 #contact .el03{top:50%; margin-top:-200px; left:50%; margin-left:50px}

.ie8 .main_footer{background:rgb(36,36,36)}

/* 진행률 표시 */
.ie8 #loading{background-repeat:no-repeat; background-position:center bottom; background-size:cover; background-image:url("../images/main/LDpage_bg.jpg")}
.ie8 #loading .progress .txt_box{margin-left:18px}
.ie8 .progress{background:url("../images/main/LDpage_moon.png") center -50px no-repeat}
.ie8 #loading .bar0{left:6px}

/* ie7이하 *********/
#loading .progress-bar{width:100%}
.ie-old #loading .progress .txt_box{margin-left:31px}
.ie-old #loading .text1{display:none}
.ie-old #loading .text2{position:relative; display:block; left:30px;  margin-top:70px; text-align:center}
.ie-old #loading .bar0{display:none}

/* 사파리 *********/
/* 메인 섹션 */
.safari #main{background-position:90% 40px, center}
.safari #main .bg_el{display:none}

/* 프로젝트 섹션 */
.safari #project{background-position:5% 158px, 35% -87px, 65% 134px, 95% -95px}

/* 포트폴리오 섹션 */
.safari #portfolio{background-position:20px 10px, right bottom}
.safari #portfolio .el01{left:35%}
.safari #portfolio .el02{left:85%}

.active#portfolio #load-more{width:50px; height:50px}

/* 히스토리 섹션 */
.safari #history{background-position:left 52%, right 52%, -300px -500px, 130% -200%}
.safari .foot_print_top{left:50%; margin-left:150px}
.safari .foot_print_btm{left:50%; margin-left:-350px}
.safari #history .el06{left:50%; margin-left:-430px}

.safari .ht_box >ul >li:nth-child(odd){right:50%; margin-right:-1px}
.safari .ht_box li:nth-child(odd) .ht_ico{right:-84px}

/* 스킬 섹션 */
.safari #skill{background:#FF229F url("../images/main/bgSkill_back.png") 150% -700px no-repeat}
.safari #skill .progress{background-color:rgb(255, 204, 0)}

/* 컨택 섹션 */ 
.safari #contact{background-position:center, -300px 170%, 120% -200px, center}

.safari #contact .el01{top:50%; margin-top:-489px; left:50%; margin-left:-627px}
.safari #contact .el02{top:50%; margin-top:-12px; left:50%; margin-left:466px}
.safari #contact .el03{top:50%; margin-top:-200px; left:50%; margin-left:50px}

/* 진행률 표시 */
.safari #loading{background-repeat:no-repeat; background-position:center bottom; background-size:cover; background-image:url("../images/main/LDpage_bg.jpg")}
.safari #loading .progress .txt_box{margin-left:18px}
.safari .progress{background:url("../images/main/LDpage_moon.png") center -50px no-repeat}
.safari #loading .bar0{left:6px}
.safari #loading .text1{left:20px}

/* 반응형 ---------------------------------------------------*/ 
@media screen and (max-width:1399px){

/* 프로젝트 섹션 */
.safari #project{background-image:url("../images/main/bgProject_left.png"), url("../images/main/bgProject_top.png"), url("../images/main/bgProject_btm.png"), url("../images/main/bgProject_right.png"); background-position:-65px -87px, 107% -50px, -72px 120%, 107% 120%}

/* 포트폴리오 섹션 */
.safari #portfolio{background-position:-170px -100px, right bottom}
.safari #portfolio .el01{left:20%}

}/* e.1399px */

@media screen and (max-width:999px){

/* 포트폴리오 섹션 */
.safari #portfolio{background-image:url("../images/main/bgPortfolio_btm.png"); background-position:right bottom; background-attachment:fixed}

}/* e.999px */

@media screen and (max-width:767px){

/* 히스토리 섹션 */
.safari #history{background-position:-140% 52%, 240% 52%, -300px -500px, 130% -200%}

}/* e.767px */

@media screen and (max-width:599px){

/* 히스토리 섹션 */
#hisroty .bg_el{display:none}

.safari .ht_box > ul > li:nth-child(odd){right:auto}
.safari .ht_box li:nth-child(odd) .ht_ico{right:auto}

}/* e.599px */