//= contact
#contact {
  background-image: url("#{$img-url}/contact/bgContact_cen.png"), url("#{$img-url}/contact/bgContact_back2.png"),
    url("#{$img-url}/contact/bgContact_back2.png"), url("#{$img-url}/contact/bgContact_back.jpg");
  background-position: center, -300px calc(100% + 300px), calc(100% + 280px) -200px, center;
  background-size: auto, auto, auto, cover;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-attachment: scroll, fixed, fixed, fixed;
  overflow: hidden;
  .wrap_cen {
    display: table;
  }
  // 배경요소
  // 상단 꽃
  .el01 {
    top: calc(50% - 489px);
    left: calc(50% - 627px);
    animation: shake 3s ease-in-out infinite;
    @include imgsprite($bg-contact-el01);
  }
  // 하단 꽃
  .el02 {
    top: calc(50% - 12px);
    left: calc(50% + 466px);
    animation: shake 3s ease-in-out 1.5s infinite;
    @include imgsprite($bg-contact-el02);
  }
  // 나비
  .el03 {
    top: calc(50% - 230px);
    left: calc(50% + 50px);
    animation: nabi 4s ease-in-out infinite;
    transform-origin: 38px 107px;
    @include imgsprite($bg-contact-butterfly);
  }
  // 연락처 그룹
  .contact_group {
    @include pos-abs-lt(50%);
    margin-top: -69px;
    width: 290px;
    text-align: center;
    overflow: hidden;
    transform: translate(-50%, -50%);
  }
  .sub_logo,
  .tel_num,
  .mail,
  .gitHub {
    a {
      display: inline-block;
    }
  }
  // 이름로고
  .sub_logo {
    a {
      @extend %ani-direction-init;
      animation-name: toL;
    }
    img {
      width: 220px;
    }
  }
  // 전화번호, 메일
  .tel_num,
  .mail {
    a {
      @extend %ani-direction-init;
      animation-name: toR;
    }
  }
  .tel_num {
    img {
      width: 100%;
      max-width: 285px;
    }
    a {
      animation-delay: 0.3s;
    }
  }
  .mail a {
    color: color(dft, lighter);
    animation-delay: 0.4s;
  }
  // 메일, 깃허브
  .mail,
  .gitHub {
    &:hover a {
      text-decoration: underline;
    }
  }
  .gitHub {
    margin-top: 30px;
    a {
      color: color(dft, brightest);
      @extend %ani-direction-init;
      animation-name: toB;
      animation-delay: 0.5s;
    }
  }
  // 섹선 활성화
  &.active {
    .sub_logo a {
      animation-name: fromL;
    }
    .tel_num,
    .mail {
      a {
        animation-name: fromR;
      }
    }
    .gitHub a {
      animation-name: fromB;
    }
  }
}
// 푸터
.main_footer {
  position: absolute;
  padding: 5px 0;
  bottom: 30px;
  background: rgba(color(dft, brightest), 0.1);
  p {
    color: color(dft, light);
    text-align: center;
  }
}
// 반응형 =====
// mobile
@include respond(1023px) {
  #contact .sub_txt {
    width: 100%;
    box-sizing: border-box;
  }
} // e.1023

@include respond(479px) {
  #contact .sub_txt {
    margin: 40px auto;
  }
} // e.479
