//= global
// 전체
.hidden {
  @extend %blind;
}
.clearFix {
  @extend %clearfix;
}
// 이미지
.imgFix {
  @extend %imgFix;
}
// 폰트
.link_desc {
  color: color(tit, main);
}
// 배경 요소
.bg_el {
  @include pos-abs-lt;
  @include size(100%);
  z-index: 0;
  span {
    @include pos-abs-lt;
  }
  img {
    position: relative;
    width: auto;
  }
}
