//= Layout
// skip navigaino
#skip_nav {
  @include pos-abs-lt;
  z-index: 1;
  a {
    display: inline-block;
    padding: 5px 15px;
    color: color(dft, brightest);
    background: rgba(color(dft, darkest), 0.8);
    transform: translateY(-32px);
    &:focus {
      transform: translateY(0);
    }
  }
}
// 전체
#wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  min-width: 1400px;
  overflow: hidden;
  opacity: 0;
  @extend %natural-effect;
  transition-property: opacity;
  &.on {
    opacity: 1;
  }
}
.wrap_cen {
  position: relative;
  margin: 0 auto;
  @include size(1400px, 100%);
  @extend %clearfix;
}
// 헤더
.page_hd {
  @include pos-fix-lt(0, 10px);
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 99999;
  .wrap_cen {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2px 20px;
    box-sizing: border-box;
    border-radius: 25px;
    @extend %natural-effect;
    transition-property: background-color;
  }
  .logo {
    visibility: hidden;
    width: 50px;
    padding: 8px 0;
    box-sizing: border-box;
    a {
      display: block;
    }
  }
  // gnb
  .gnb_wrap {
    display: flex;
    flex: 1;
  }
  .gnb_menu {
    flex: 1;
    ul {
      @extend %flex-align-c;
      justify-content: flex-end;
      height: 100%;
    }
    li {
      padding: 0 0.3%;
      a {
        display: block;
        padding: 5px;
        @include font(13px, null, #eee);
      }
      &.on a {
        color: color(theme, sub);
      }
    }
  }
  // 헤더 배경, 로고 활성화
  &.visible {
    .wrap_cen {
      background: rgba(255, 255, 255, 0.95);
    }
    .logo {
      visibility: visible;
    }
    .gnb_menu {
      a {
        color: color(dft, dark);
      }
      li {
        &.on a {
          color: color(theme, main);
        }
      }
    }
  }
  .pf_on & {
    display: none;
  }
}

// 섹션공통
section {
  position: relative;
  padding: 90px 0;
  min-height: 750px;
  box-sizing: border-box;
  @extend %clearfix;
  &:not(#history):not(#project) {
    height: 100vh;
  }
  &#project {
    min-height: 100vh;
  }
  // 섹션 공통
  > .sect_tit,
  h2 + .sect_desc {
    position: relative;
    z-index: 1;
    @extend %ani-direction-init;
    animation-name: toT;
  }
  // 섹션 타이틀
  > .sect_tit {
    @include font(50px, 42px, color(dft, brightest));
    text-align: center;
    font-weight: bold;
  }
  // 섹션 설명
  h2 + .sect_desc {
    margin-top: 10px;
    @include font(null, 18px, color(dft, brightest));
    text-align: center;
    animation-delay: 0.2s;
  }
  // 섹션 활성화시
  &.active {
    // 섹션 타이틀
    > .sect_tit,
    h2 + .sect_desc {
      animation-name: fromT;
    }
    // 섹션 설명
    h2 + .sect_desc {
      opacity: 0.9;
    }
  }
}
// 반응형 =====
// tablet
@include respond(1399px) {
  /* 전체 */
  #wrapper {
    min-width: auto;
  }
  .wrap_cen {
    width: 1000px;
  }
} // e.1399

// mobile
@include respond(1023px) {
  #wrapper {
    min-width: 360px;
  }
  .wrap_cen {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
} // e.1023px

@include respond(767px) {
  // 전체
  .wrap_cen {
    padding: 0;
  }
} // e.767px
