//= layout
%blind {
  position: absolute;
  @include size(1px);
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
%clearfix {
  @include pseudo-init(after, table) {
    clear: both;
  }
}
%imgFix {
  display: inline-block;
  img {
    vertical-align: top;
  }
}
// flex 정렬
%flex-vtc-layout {
  display: flex;
  flex-direction: column;
}
%flex-justify-c {
  display: flex;
  justify-content: center;
}
%flex-align-c {
  display: flex;
  align-items: center;
}
%flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
// 가로 스크롤
%wid-scr {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
// 세로 스크롤
%h-scr {
  overflow-x: hidden;
  overflow-y: auto;
}
// 스크롤바 숨김
%scr-hide{
	&::-webkit-scrollbar{
		display:none;
	}
}
//= bugfix
//아이폰x 제스처 공간
%safe-area-after{
	&:after{
		content:'';
		display:block;
		height:env(safe-area-inset-bottom);
	}
}
%safe-area-margin{
	margin-bottom:env(safe-area-inset-bottom);
}
%safe-area-padding{
	padding-bottom:env(safe-area-inset-bottom);
}
//사파리 border-radius overflow 버그 수정
%backface {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
