//= variables
//== project
$pf-pop-info-wid: 430px;
$pf-pop-info-tb-gap: 35px;
$pf-pop-info-ctt-tb-gap: 20px;
$pf-pop-info-lr-gap: 25px;
$pf-pop-info-space: $pf-pop-info-ctt-tb-gap $pf-pop-info-lr-gap 0;

//== project
$m-pf-pop-info-wid: 100%;
