//= variables
//color-pallettes
$palettes: (
  // 기본 컬러
  dft:
    (
      base: #666,
      brightest: #fff,
      lighter: #999,
      light: #777,
      medium: #555,
      dark: #333,
      darkest: #000,
    ),
  bg: (
    base: #f1f1f1,
    light: #fcfcfc,
  ),
  bd: (
    base: #fafafa,
  ),
  // 테마 컬러
  theme:
    (
      // 공통
      main: #ff229f,
      sub: #ff0,
      // section별
      intro-s: #ffa6c6,
      project: #01d3ce,
      project-s: #affdfb,
      history: #fc0
    ),
  // 타이틀 컬러
  tit:
    (
      main: #06f,
      sub: #ff4800,
    )
);

//= font
$font-family-base: "Noto Sans KR", sans-serif;

//= img url
$img-url: "/resources/images";

// parallex
$ani-timing: cubic-bezier(0.4, 0, 0.2, 1);

//= section
//== project
$pf-pop-info-wid: 430px;
$pf-pop-info-tb-gap: 35px;
$pf-pop-info-ctt-tb-gap: 20px;
$pf-pop-info-lr-gap: 25px;
$pf-pop-info-space: $pf-pop-info-ctt-tb-gap $pf-pop-info-lr-gap 0;
$m-pf-pop-info-wid: 100%;
