/* 전체 */
#wrapper{width:100%; min-width:1400px}
.wrap_cen{clear:both; position:relative; margin:0 auto; width:1400px; height:100%}

/* 헤더 */
.page_hd{position:fixed; padding:5px 0; top:-51px; background:#fff; border-bottom:1px solid #ececec; box-sizing:border-box; transition:.3s top 0s cubic-bezier(0, 0, 0, 0.64); z-index:999;}
.page_hd.visible{top:0}
.gnb_m_box{display:none;}
.page_hd .float_R{margin:9px 0}
.page_hd .gnb_menu li{float:left; margin-left:20px}

/* 섹션공통 */
section{position:relative; padding:75.5px 0; box-sizing:border-box;}

/* 메인섹션 */
#main{height:1080px; background:url("../images/main/mainBg01.jpg") center no-repeat; background-size:cover; background-attachment:fixed}

/* 메인섹션 - 메인카피 */
.main_txt{position:relative; width:850px; margin:0 auto; padding-top:15%; overflow:hidden}
.main_copy{padding:5px 0 20px 20px; border-left:3px solid #ffff00}
.main_ct{padding:5px 0 5px 20px; line-height:18px; border-left:3px solid #ff0090}

/* 메인섹션 - 메뉴 */
.main_menu{clear:both; position:absolute; bottom:17%}
#main .gnb_menu li{position:relative; float:left; margin:0 2.5%; width:11.6%}
#main .gnb_menu li a{display:block; padding:110px 0 20px 0; width:100%; height:100%; color:#fff; text-align:center; background-color:rgba(0,0,0,.3); background-repeat:no-repeat; background-position:center 35%; border:4px solid #fff; border-radius:80px; transition:.3s all 0s linear; box-sizing:border-box}
#main .gnb_menu li a:hover{border:4px solid #ffff00; color:#ffff00}
#main .gnb_menu li:before{display:block; content:''; position:relative; opacity:0; margin:auto; top:-10px; width:0; text-align:center;  border-top:10px solid #ffff00; border-left:9px solid transparent; border-right:9px solid transparent; transition:.3s all 0s linear}
#main .gnb_menu li:hover:before{opacity:1}
#main .gnb_menu li:nth-child(1) a{background-image:url("../images/main/gnb_icon01_off.png")}
#main .gnb_menu li:nth-child(2) a{background-image:url("../images/main/gnb_icon02_off.png")}
#main .gnb_menu li:nth-child(3) a{background-image:url("../images/main/gnb_icon03_off.png")}
#main .gnb_menu li:nth-child(4) a{background-image:url("../images/main/gnb_icon04_off.png")}
#main .gnb_menu li:nth-child(5) a{background-image:url("../images/main/gnb_icon05_off.png")}
#main .gnb_menu li:nth-child(6) a{background-image:url("../images/main/gnb_icon06_off.png")}
#main .gnb_menu li:nth-child(1):hover a{background-image:url("../images/main/gnb_icon01_on.png")}
#main .gnb_menu li:nth-child(2):hover a{background-image:url("../images/main/gnb_icon02_on.png")}
#main .gnb_menu li:nth-child(3):hover a{background-image:url("../images/main/gnb_icon03_on.png")}
#main .gnb_menu li:nth-child(4):hover a{background-image:url("../images/main/gnb_icon04_on.png")}
#main .gnb_menu li:nth-child(5):hover a{background-image:url("../images/main/gnb_icon05_on.png")}
#main .gnb_menu li:nth-child(6):hover a{background-image:url("../images/main/gnb_icon06_on.png")}

/* 콘텐츠 섹션 공통 - 메뉴 */
section > .sec_t{color:#fff; text-align:center; font-size:32px; line-height:42px; z-index:1}
section > .sec_t:after{display:block; content:''; clear:both; margin:10px auto; width:0; border-top:10px solid #ffff00; border-left:9px solid transparent; border-right:9px solid transparent}
section > .sec_t .t_str{color:#ffff00; font-size:42px}
section h2 + .set_ct{text-align:center; color:#fff}

/* 프로젝트 섹션 */
#project{background:#ff229f}

#project .slide_wrap{position:absolute; top:0; width:100%}
.slide_ul{overflow:hidden}
.slide_ul li{position:absolute; top:0}
.slide_ul li:nth-child(odd){float:left; left:0}
.slide_ul li:nth-child(even){float:right; right:0}

.drection_box{clear:both; position:absolute; width:100%;}
.drection_btn{position:relative; margin:auto; width:450px; height:250px}
.drection_btn li{position:relative; top:50%; margin-top:-16px; width:38px; height:38px; text-indent:-9999px; cursor:pointer; transition:.3s all 0s linear}
.drection_btn .btn_L{float:left; left:20px; background:url("../images/main/btn1_prev_off.png") center no-repeat;}
.drection_btn .btn_R{float:right; right:20px; background:url("../images/main/btn1_next_off.png") center no-repeat;}
.drection_btn .btn_L:hover{background:url("../images/main/btn1_prev_on.png") center no-repeat;}
.drection_btn .btn_R:hover{background:url("../images/main/btn1_next_on.png") center no-repeat;}