//= global
// 전체
.hidden {
  @extend %blind;
}
.clearFix {
  @extend %clearfix;
}
// 이미지
.imgFix {
  @extend %imgFix;
}
.ol_decimal > li {
  list-style: decimal;
  margin-left: 16px;
}
// 폰트
.theme_sub {
  color: color(theme, sub);
}
.tit_main {
  color: color(tit, main);
}
// parallex 요소
.bg_el {
  @include pos-abs-lt;
  @include size(100%);
  z-index: 0;
  span {
    @include pos-abs-lt;
  }
  img {
    position: relative;
    width: auto;
  }
}

@include respond(479px) {
  // 전체
  .m_br {
    display: block;
  }
} // e.479px
