//= global
.imgFix {
  display: inline-block;
  line-height: 0;
}
a {
  &:link,
  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }
  &:active {
    color: #000;
  }
}
.hidden {
  position: absolute !important;
  visibility: hidden !important;
  font-size: 0 !important;
  line-height: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}
.clearFix {
  clear: both;
  overflow: hidden;
}
.table_c1 {
  margin: 0 0 20px 0;
  table {
    width: 100%;
    margin-top: 10px;
    border-top: 2px #6b6b6b solid;
    border-right: 1px #d8d6d6 solid;
    border-left: 1px #d8d6d6 solid;
    border-bottom: 1px #d8d6d6 solid;
    border-collapse: collapse;
  }
  th {
    background-color: #f4f3f3;
    border-left: 1px #6b6b6b dotted;
    border-top: 1px #d5d4d4 dotted;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 140%;
    text-align: center;
  }
  td {
    border-left: 1px #d8d6d6 solid;
    border-top: 1px #d8d6d6 solid;
    padding: 5px 2px 5px 2px;
    line-height: 160%;
    text-align: center;
    word-break: break-all;
    a {
      color: #555c63;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .td {
    &_left {
      text-align: left;
      padding: 5px 10px 5px 10px;
    }
    &_right {
      text-align: right;
      padding: 5px 10px 5px 10px;
    }
  }
}
.table_c1 table tfoot th,
div.table_c1 table tfoot td {
  background-color: #f4f3f3;
  font-weight: bold;
  border-left: 1px #6b6b6b dotted;
  border-top: 1px #d5d4d4 dotted;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 140%;
  text-align: center;
}
.ol_decimal > li {
  list-style: decimal;
  margin-left: 16px;
}
