html {
  scroll-behavior: smooth;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
  @extend %safe-area-padding;
}
body {
  height: 100%;
  word-break: break-all;
  -webkit-animation: bugfix infinite 1s; //안드로이드 라디오 checked~안되는 버그
}
*::selection {
  background: #ffeaf6;
  color: #6b007d;
}
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
table,
th,
td,
fieldset,
figure,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin: 0;
  padding: 0;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
hr,
legend,
caption {
  display: none;
}
iframe,
fieldset {
  border: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
address,
cite,
code,
dfn,
em,
var {
  font-style: inherit;
  font-weight: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
body,
input,
textarea,
select,
button {
  font-family: $font-family-base;
  @include font(14px, 22px, #666);
  letter-spacing: -0.5px;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}
button {
  touch-action: manipulation;
}
a {
  &:link,
  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }
  &:active {
    color: color(dft, darkest);
  }
}
img {
  width: 100%;
  border: 0;
  border-radius: inherit;
  vertical-align: top;
  border: 0;
}
b {
  font-weight: bold;
}
strong,
em {
  font-weight: normal;
}
input,
textarea,
select {
  font-size: 1em;
  font-family: $font-family-base;
  vertical-align: middle;
}
input,
select,
textarea,
button {
  vertical-align: middle;
  @include font(null, inherit, inherit);
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button[disabled] {
  cursor: default;
}
input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
textarea {
  box-shadow: none;
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
