//= intro
$progress-bar-wid: 303px;
$progress-bar-h: 297px;

#splash {
  // 진행률 표시
  @include pos-fix(0, 0, 0, 0);
  color: color(dft, brightest);
  text-align: center;
  background-image: url("#{$img-url}/splash/LDpage_moon.png"),
    url("#{$img-url}/splash/LDpage_cloud.png"), url("#{$img-url}/splash/LDpage_bg.jpg");
  background-position: calc(50% - 15px) -50px, center top, center bottom;
  background-size: auto, auto, cover;
  background-repeat: no-repeat;
  transition: .5s opacity .5s ease-in-out;
  z-index: 1;
  overflow: hidden;
  // 진행률 박스
  .progress {
    position: relative;
    display: inline-block;
    @include size($progress-bar-wid, $progress-bar-h);
    margin-top: 128px;
    .contact_group {
      position: relative;
      z-index: 1;
      @extend %flex-vtc-layout;
      justify-content: center;
      height: 100%;
    }
    .mail a {
      color: color(theme, intro-s);
    }
    .gitHub {
      margin-top: 13px;
      a {
        display: inline-block;
        opacity: 0.75;
      }
    }
  }
  .name {
    a {
      @extend %imgFix;
    }
    img {
      width: 220px;
      pointer-events: none;
      cursor: default;
    }
  }
  .tel_num {
    margin-top: 5px;
    a {
      width: 260px;
      display: inline-block;
    }
  }
  // 진행율 막대 표시
  .progress-bar {
    @include pos-abs(0, 0, 0, 0);
    .bar_L,
    .bar_R {
      @include size(50%, 0);
      padding-bottom: 2px;
      overflow: hidden;
      .bar {
        @include size($progress-bar-wid, $progress-bar-h);
        border: 1px solid color(theme, main);
        border-radius: 50%;
      }
    }
    .bar_L {
      transform: translateY(2px);
    }
    .bar_L,
    .bar_L .bar {
      @include pos-abs-lb;
    }
    .bar_R,
    .bar_R .bar {
      @include pos-abs-rt;
    }
  }
  .bar_box {
    @include size(100%);
  }
  // 미지원 환경 안내 텍스트
  .no-browser-txt,
  .no-js-txt {
    display: none;
  }
  // 로딩 진행율 텍스트
  .progress-txt {
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
    text-align: center;
  }

  // no-js
  .no-js & {
    .bar_box,
    .progress-txt,
    .no-browser-txt {
      display: none;
    }

    // 자바스크립트 비활성화 안내 문구
    .no-js-txt {
      position: relative;
      display: block;
      margin-top: 25px;
      padding: 0 20px;
      text-align: center;
      a {
        color: color(theme, sub);
      }
      strong {
        color: color(theme, history);
      }
    }
  }
  // 로딩 완료
  &.progress-complete {
    opacity: 0;
  }
  // 숨김
  &.off {
    display: none;
  }
}
